@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

::-webkit-scrollbar {
    display: none;
}

.swiper-pagination {
	position: absolute;
	bottom: 15px !important;
	height: 18px;
	width: auto;
	left: 20px;
	font-size: 12px;
	color: white;
	padding: 0px 8px;
	background-color: grey;
	border-radius: 16px;
	opacity: 0.9;
	line-height: 16px;
  }
a {
    text-decoration: none;
}
li {
    list-style: none;
}
input, textarea {
    outline: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: "Noto Sans KR", sans-serif;
	letter-spacing: -0.24px;
	color: #1B1D1F;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}